
.main-content {
    width: 100% ;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8rem;
    & .main-text {
        width: 50%;
        height: fit-content;
        padding: 1rem 0;
        & h1 {
            width: 460px;
            font-size: 65px;
            text-transform: capitalize;
            font-family: emoji;
            color: $main-color;
            & span{
                display: block;
                font-size: 18px;
                color: $brown-color;
                margin-bottom: 8px;
                font-family: cursive;
            }
        }
        & p {
            font-size: 15px;
            width: 300px;
            margin-top: 1rem;
            margin-bottom: 1.5rem;
            line-height: 24px;
            color: $grey-dark;
        }
        & .btn-get-now {
            width: 130px;
            height: 39px;
            text-transform: capitalize;
            font-size: 12px;
            border: 0;
            background-color: $main-color;
            color: $light-color;
            margin-right: 2rem;
            box-shadow: 0 0 3px 1px #0000006b;
            cursor: pointer;
        }
        & .btn-reservation {
            width: 130px;
            height: 39px;
            text-transform: capitalize;
            font-size: 12px;
            border: 0;
            background-color: $light-color;
            color: $main-color;
            box-shadow: 0 0 11px 1px #80808038;
            cursor: pointer;
        }
    }
    
    & .main-image-content {
        width: 420px;
        height: 530px;
        transform: translateY(-100px)  scale(0);
        box-shadow: 0 0 4px 1px #80808069;
        opacity: 0;
        transition: 2s linear;
        &.active-image {
            opacity: 1;
            transform: translateY(106px)  scale(1);
        }
        & img {
            width: 100%;
            height: 100%;
        }
    }

}






@media (min-width: 375px) and (max-width: 575.98px) {
    .main-content {
        height: fit-content;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 1rem;
        padding-top: 7rem;
        & .main-text {
            width: 100%;
            height: fit-content;
            & h1 {
                width: 80%;
                margin: 0 10%;
                font-size: 35px;
                text-align: center;
                & span{
                    font-size: 16px;
                    font-style: italic;
                }
            }
            & p {
                font-size: 14px;
                width: 90%;
                margin: 10px 5%;
                text-align: center;
                line-height: 23px;
            }
            & .btn-get-now {
                margin: 1rem  2rem;
            }
        }
        & .main-image-content {
            width: 300px;
            height: 400px;
            &.active-image {
                transform: translateY(60px)  scale(1);
            }
        }
    
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .main-content {
        width: 100% ;
        height: fit-content;
        justify-content: center;
        flex-direction: column;
        padding: 0 2rem;
        & .main-text {
            width: fit-content;
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding: 1rem 0;
            margin-top: 4rem;
            & h1 {
                width: 300px;
                text-align: center;
                font-size: 34px;
                & span{
                    font-size: 16px;
                }
            }
            & p {
                font-size: 13px;
                text-align: center;
                width: 100%;
                padding: 0 7rem;
                margin-top: 10px;
                line-height: 21px;
            }
            & .btn-get-now {
                width: 130px;
                height: 39px;
                text-transform: capitalize;
                font-size: 12px;
                border: 0;
                background-color: $main-color;
                color: $light-color;
                margin-right: 2rem;
                box-shadow: 0 0 3px 1px #0000006b;
                cursor: pointer;
            }
            & .btn-reservation {
                width: 130px;
                height: 39px;
                text-transform: capitalize;
                font-size: 12px;
                border: 0;
                background-color: $light-color;
                color: $main-color;
                box-shadow: 0 0 11px 1px #80808038;
                cursor: pointer;
            }
        }
        
        & .main-image-content {
            width: 320px;
            height: 430px;
            &.active-image {
                opacity: 1;
                transform: translateY(70px)  scale(1);
            }
        }
    
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .main-content {
        width: 100% ;
        height: 420px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 3rem;
        padding-bottom: 2rem;
        & .main-text {
            width: 350px;
            height: fit-content;
            padding: 1rem 0;
            & h1 {
                width: 100%;
                font-size: 40px;
            }
        }
        & .main-image-content {
            width: 300px;
            height: 370px;
            transform: translateY(140px) ;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .main-content {
        padding: 0 3rem;
        padding-bottom: 2rem;
        & .main-image-content {
            width: 370px;
        }
    
    }
}
